<div class="search-container greenspace-profile">



  <h2>Visit {{greenspace.name}} </h2>


  <div class="tag-div">
    <ul>
      {{#each greenspace.tags}}
      <li>
        {{ this }}
      </li>
      {{/each}}
    </ul>
  </div>

  <div>
    {{#if user._id}}

    
    <form class="fav-form">
      <input type="hidden" name="favourit" id="favourit" value="{{greenspace._id}}">
      <label class="favourite-added" for="star-favourite">Save to Favourites</label>
      <button id="star-favourite" onclick="sendId(event)"> <img id="fav-star" src="/images/star_gray.png"
          alt="Star Favourite"></button>
    </form>
    {{/if}}
  </div>


  <div>
    <div class="gallery-images">
      <span>
        {{#each images}}
        <img class="greenspace-image" src="{{ this.image }}" alt="GreenSpace Image">
        {{/each}}

        {{#if user._id}}
        <div class="gallery-button">
          <button id="upload_greenspace_widget" class="cloudinary-button">Add an Image</button>
        </div>
        {{/if}}

      </span>
    </div>


  </div>



  <div class="comment-list">
    <ul class="comment-item">
      {{#each comments}}
      <span>
        <img class="user-image-comment" src="{{this.creator.image}}" alt="User profile">
        <li class="comment-item"> {{ this.comment }}</li>
      </span>
      {{/each}}
    </ul>
  </div>


  {{#if user._id}}
  <div class="comment-error"></div>
  <form id="comment-form" action="/greenspace/{{greenspace._id}}" method="POST">
    <input type="text" name="comment" id="comment" placeholder="Add your comment">
    <button id="add-comment" onclick="commentFormCheck(event)">Add a Comment</button>
  </form>
  {{/if}}





  <div class="gs-profile-btns">

    <button class="profile-button nav-btn">
      <a target="_blank"
        href="https://www.google.com/maps/dir/?api=1&origin=&destination={{greenspace.location.lat}},{{greenspace.location.lng}}&travelmode=walking">
        <img src="/images/Navigation-icon.png" alt="nav-icon"></a>
    </button>

    <button class="profile-button"><a href="/">Search for another GreenSpace</a></button>

    {{#with user}}
    <button class="profile-button"><a href="/greenspace/new">Add a
        GreenSpace</a></button>
    {{/with}}


<<<<<<< HEAD

  </div>
=======
</div>

>>>>>>> favorite-button





<<<<<<< HEAD

</div>
=======
</div>
>>>>>>> favorite-button
