<div class="search-container">



<h2>Visit {{greenspace.name}} </h2>


<div>
  <h3>Tags for {{greenspace.name}}</h3>
  <ul>
    {{#each greenspace.tags}}
    <li>
      {{ this }}
    </li>
    {{/each}}
  </ul>
</div>

<div>
  <h3>Gallery</h3>
<div class="gallery-images">
  {{#each images}}
  <img class="greenspace-image" src="{{ this.image }}" alt="GreenSpace Image">
  {{/each}}
</div>

<div class="gallery-button">
  <button id="upload_greenspace_widget" class="cloudinary-button">Add an Image</button>
</div>

</div>


<div>
  <h3>Comments</h3>

<div class="comment-button">
  <button id="add-comment">Add a Comment</button>
</div>
</div>


<button>NAVIGATE TO{{greenspace.name}}</button>



<button><a href="/">Search for another GreenSpace</a></button>

{{#with user}}

<form action='/search' method="post">
  <button><a href="/search/favourites/:id">Favorites</a></button>
</form>

<button><a href="/greenspace/new">Add another GreenSpace</a></button>

{{/with}}

</div>
