<div class="search-container">



<h1>Visit {{greenspace.name}} </h1>


<div>
  <h2>Tags for {{greenspace.name}}</h2>
  <ul>
    {{#each greenspace.tags}}
    <li>
      {{ this }}
    </li>
    {{/each}}
  </ul>
</div>

<div>
  <h2>Gallery</h2>

  <button id="upload_greenspace_widget" class="cloudinary-button">Add an Image</button>


  {{#each image.image}}
  <img class="greenspace-image" src="{{ this }}" alt="GreenSpace Image">
  {{/each}}


</div>


<div>
  <h2>Comments</h2>
  <button>ADD COMMENT</button>
</div>


<button>NAVIGATE TO{{greenspace.name}}</button>



<button><a href="/">Search for another GreenSpace</a></button>

{{#with user}}

<form action='/search' method="post">
  <button><a href="/search/favourites/:id">Favorites</a></button>
</form>

<button><a href="/greenspace/new">Add another GreenSpace</a></button>

{{/with}}

</div>
